
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
</head>
<body>
    <div class="container">
        
        <h2 class="text-center">@TempData["message"]</h2>

    </div>
</body>
</html>
