
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AccountStyles.css" rel="stylesheet" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</head>
<body>

    <div class="container loginContainer">

        <div class="headingSec">
            <h1>TkSocial</h1>
        </div>
        <div class="formSec1 p-3 pt-5">
            <form action="" method="post">
                <div class="mb-4">

                    <input type="email" class="form-control" name="Email" id="emailid" placeholder="Enter Email or Phone">

                </div>
                <div class="mb-4">

                    <input type="password" class="form-control" name="Password" id="passwordid" placeholder="Enter Password">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Login</button>

                </div>
            </form>
        </div>

        <div class="signupSec">
            <p class="text-center">Dont have an account? @Html.ActionLink("Register","Signup")</p>

        </div>

    </div>
    

</body>
</html>
<script>
    if ('@TempData["smessage"]' != '') {
        swal({
            title: "Hurray!",
            text: '@TempData["smessage"]',
            icon: "success",
            button: "OK!",
        });
    }
</script>
