body {
    height: auto;
    background: #8360c3;
    background: linear-gradient(90deg, #8360c3 0%, #240b36 100%);
    font-family:cursive;
}

.navbar {
    background: #56CCF2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.MainContainer, .loginContainer {
    width: 30%;
    color: white;
    margin-top: 7vh;
    border-radius: 1rem;
    min-height: 65vh;
    height: auto;
    min-width: 360px;
    background-color: rgb(32, 30, 30);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    /*border: 2px solid red;*/
}
.loginContainer {
    min-height: 55vh;
    height: auto;
    margin-top: 20vh;
    grid-template-rows: 1fr 3fr 1fr;
}

.headingSec {
    text-align: center;
    /* border: 1px solid white; */
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupSec {
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formSec1{
    border-top: 1px solid white;
    /* display:flex;
    flex-direction:column;
    justify-content:center;*/
    height: auto;
}
