body {
    font-family: cursive !important;
    background-color: #f2f2f2;
}
.navbar {
    background: #e44d3a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e44d3a, #e44d3a); /* Chrome 10-25, Safari 5.1-6 */
    
}
#navlogo{
    font-size:2.5rem;
    color:white;
}

.nav-link{
    color:white !important;
}

.maincontainer{
    display:grid;
    grid-template-columns:25% 55%   ;
    gap:5%;
    padding:1rem;
    
}

.sectionleft{
    height:auto;
}
.profilelinkdiv {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height:auto;
    
    align-items: center;

}
.prldiv1 {
    background: #e44d3a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e44d3a, #e44d3a); /* Chrome 10-25, Safari 5.1-6 */
    height:100px;
    width:100%;
}
.dpcontainer {
   
    padding:1rem;
    width:100%;
    display:flex;
    justify-content:center;
    height:100px;
    
}
    .dpcontainer > img {
        width: 120px;
        height:120px;
        border: 5px solid white;
        border-radius: 50%;
    }

.suggestionslink {
    background-color: #ffffff;
    height:auto;



}
.suggested{
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
    gap:1rem;
   
   
}
    .suggested > .text{
        font-size:14px;
        line-height:7px;
        display:flex;
        flex-direction:column;
        justify-content:center
    }
    .suggImg > img {
        width: 60px;
        height: 60px;
        
        border-radius: 50%;
    }



/*home Page news feed*/

.sectioncenter{
    min-height:90vh;
    overflow-y:auto;
    border:2px solid white;
    padding:1rem;
}
.addpostdiv{
    width:100%;
    background-color:white;
}
.dp1{
    width:60px;
    height:60px;
    border-radius:50%;

}
    .dp1 > img {
        width: 100px;
        height: 60px;
        border-radius: 50%;
    }

    .dp2 > img {
        width: 100%;
        height: 60px;
        border-radius: 50%;
    }

.addpostdiv > button {
    background: #e44d3a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e44d3a, #e44d3a); /* Chrome 10-25, Safari 5.1-6 */
    color:white;
}
..addpostdiv > button:hover{
    background-color:#b50505 !important;
    font-size:10px !important;
}

.PostsLists{
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.Post{
    min-height:400px;
    height:auto;
    background-color:white;
}
.postbody{
    height:60%;
    width:100%;

}
.postbody>img{
    width:100%;
    
}
/*----------------------*/