body {
    font-family: cursive !important;
    background-color: #f2f2f2;
}
.navbar {
    /*background: #e44d3a;*/ /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #e44d3a, #e44d3a);*/ /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient( 171.8deg, rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
}
#navlogo{
    font-size:2.5rem;
    color:white;
}

.nav-link{
    color:white !important;
}

.maincontainer{
    display:grid;
    grid-template-columns:25% 55%   ;
    gap:5%;
    padding:1rem;
    
}

.sectionleft{
    height:auto;
}
.profilelinkdiv {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height:auto;
    
    align-items: center;

}
.prldiv1 {
    background-image: linear-gradient( 171.8deg, rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
    height: 100px;
    width: 100%;
}
.dpcontainer {
   
    padding:1rem;
    width:100%;
    display:flex;
    justify-content:center;
    height:100px;
    
}
    .dpcontainer > img {
        width: 120px;
        height:120px;
        border: 5px solid white;
        border-radius: 50%;
    }

.suggestionslink {
    background-color: #ffffff;
    height:auto;



}
.suggested{
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
    gap:1rem;
   
   
}
    .suggested > .text{
        font-size:14px;
        line-height:7px;
        display:flex;
        flex-direction:column;
        justify-content:center
    }
    .suggImg > img {
        width: 60px;
        height: 60px;
        
        border-radius: 50%;
    }



/*home Page news feed*/

.sectioncenter{
    min-height:90vh;
    overflow-y:auto;
    border:2px solid white;
    padding:1rem;
}
.addpostdiv{
    width:100%;
    background-color:white;
}
.dp1{
    width:60px;
    height:60px;
    border-radius:50%;

}
    .dp1 > img {
        width: 100px;
        height: 60px;
        border-radius: 50%;
    }

    .dp2 > img {
        width: 100%;
        height: 60px;
        border-radius: 50%;
    }

.addpostdiv > button {
    background-image: linear-gradient( 171.8deg, rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
    color: white;
}
..addpostdiv > button:hover{
    background-color:#b50505 !important;
    font-size:10px !important;
}

.PostsLists{
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.Post{
    min-height:400px;
    height:auto;
    background-color:white;
}
.postbody{
    height:60%;
    width:100%;

}
.postbody>img{
    width:100%;
    
}
/*----------------------*/

/*Peoples list Page*/
.peoplecard {
    height: 300px;
    background: #FFEFBA; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, white, #ffd1aa); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, white, #ffd1aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
}


/**/

/*reqbox*/
.reqbox {
    /* fallback for old browsers */
    background-image: linear-gradient( 171.8deg, rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
    /*background: #e44d3a;
    background: -webkit-linear-gradient(to right, #e44d3a, #e44d3a);*/
    color: white;
    min-height: 200px;
    width: 350px;
    position: absolute;
    right: 0;
    overflow-y: auto;
/*    transform: translateX(350px);
    transition: transform ease 1s;*/
    padding: 1rem;
    display:none;
}

.likebtnClicked {
    display: inline-block;
    animation: wobble; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    
}

.LikeColored {
    color: dodgerblue !important;
    
}

.likebtn:hover{
    color:dodgerblue !important;
    cursor:pointer;
}


.reqboxactive {
    transform: translateX(0px);
    display:block;
}
#reqnot:hover{
    color:yellow;
    cursor:pointer;
}

@media screen and (max-width:900px){
    .reqbox {
        width: 100vw;
        transform: translateX(100vw);
    }
    .reqboxactive {
        transform: translateX(0px);
    }
}
